# artefacts
.claude/
.eslintcache
.npm
.nyc_output
*.log
logs/
node_modules/
coverage/
build/
dist/
openspec/

# ide
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.bak
*.swp
*~
*#

# spam
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini


# dotenv
.env
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
