/* ---- reset ---- */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.section-title, 
.section-description {
  width: 100%;
  text-align: center;
}

.section-title {  
  font-size: 3.5rem; 
}

.section-description {
  font-size: 1.25rem;
}

/* ---- layout ---- */

.container {
  height: 8rem;
}

.site-header,
.site-footer {
  background-color: #000;
}

#site-main {
  padding: 8rem 6rem;
}

.section-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

canvas {
  background-color: #4a4a4a;
}

/* ---- components ---- */

.counter-rank,
.counter-lives {
  font-size: 1.5rem;
  color: #fff;
}
/* button, score, lives styles */

